[user]
	name = Marcelo Belli
	email = {{ (onepasswordDetailsFields "Git Info").username.value }}
	signingkey = {{ (onepasswordDetailsFields "github_key").public_key.value }}

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true
